#about {
    height: auto;
    width: 100%;
    background-color: var(--main-color-light);
    padding: 8vh 0 8vh;
}

.about-container {
    margin: auto;
    max-width: min(1200px, 90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color-dark);
}

.about-title {
    font-size: 2.4rem;
}

.skills-container > h3 {
    font-size: 1.4rem;
}

.skill-item > img {
    width: 2.8rem;
    height: auto;
}

.skills-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.skills-container > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 1.4rem 0;
}

.img-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: center;
    max-width: 22rem;
}

.img-container > img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    box-shadow: 0 0 20px 5px var(--secondary-color);
}

@media (max-width: 850px) {
    .about-container {
        grid-template-rows: 1fr 2fr;
    }

    .description-container {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .img-container {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        max-width: 18rem;
    }

    .skills-container {
        padding: 1rem 1.5rem 0 0;
    }

    .skill-item > img {
        width: 2.4rem;
    }
}

@media (max-width: 500px) {
    .skill-item > img {
        width: 2rem;
    }
}