#about {
    height: auto;
    width: 100%;
    background-color: var(--main-color-light);
    display: flex;
    padding: 8vh 0 8vh 0;
}

.about-container {
    width: 50%;
    color: var(--main-color-dark);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding-left: 18vw;
}

.about-title {
    font-size: 2.6rem;
}

.skills-title {
    font-size: 1.4rem;
    padding: 20px 0 10px 0;
}

.skill-item > img {
    width: 2.8rem;
    height: auto;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.img-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 8vw;
    margin-left: 5vw;
}

.img-container > img {
    max-width: 26rem;
    height: auto;
}

@media (max-width: 1200px) {
    .about-container {
        padding-left: 9vw;
    }

    .img-container > img {
        max-width: 20rem;
        height: auto;
    }
}

@media (max-width: 850px) {
    #about {
        flex-direction: column;
        align-items: center;
        gap: 10vh;
    }

    .about-container {
        width: 80%;
        padding: 0;
    }

    .img-container {
        display: none;
    }

    .img-container > img {
        max-width: 90%;
    }

    .skill-item > img {
        width: 3rem;
    }
}