@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

#contact {
    background-color: var(--secondary-color);
    width: 100%;
    height: auto;
    padding: 12vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: var(--main-color-light);
}

input, textarea {
    border: none;
    border-radius: 5px;
    background-color: var(--main-color-light);
    opacity: 0.6;
    font-size: 0.9rem;
    outline: none;
    padding: 0 10px;
    font-family: 'Roboto Mono', monospace;
}

.contact-section-title {
    font-size: 3rem;
    margin: auto;
    text-align: center;
}

.form-container {
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.engage-msg {
    align-self: center;
}

.input-container {
    margin: 2vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container > label {
    align-self: flex-start;
    margin: 0 0 5px 50px;
}

.input-container > input {
    width: min(80%,500px);
    height: 35px;
}

.input-container > span {
    align-self: flex-start;
    background-color: rgb(255, 162, 162);
    color: var(--main-color-dark);
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 5px 10px;
    opacity: 0.7;
    position: absolute;
    margin-top: 60px;
    margin-left: min(10%, 50px);
    display: none;
}

.input-container:last-child > span {
    margin-top: 175px;
}

.submit-btn {
    margin: auto;
    width: 100px;
}

.submit-btn:disabled {
    opacity: 0.5;
    cursor: auto;
}

.submit-btn:disabled:hover {
    background-color: var(--accent-color);
    box-shadow: none;
    color: var(--main-color-light);
}

#message {
    width: min(80%,500px);
    resize: none;
    min-height: 150px;
    padding-top: 14px;
}