footer {
    background-color: var(--main-color-dark);
    color: var(--main-color-light);
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.footer-container {
    height: 12vh;
    padding: 2vh 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .6rem;
}

.channels-title {
    font-size: 1rem;
    margin: 2vh 0;
}

.channels {
    display: flex;
    gap: 18px;
    font-size: 1.6rem;
    flex-direction: column;
}

.channels-container {
    text-shadow: 1px 1px 10px var(--main-color-dark);
    position: fixed;
    top: 68vh;
    left: 5vw;
}