footer {
    background-color: var(--main-color-dark);
    color: var(--main-color-light);
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.footer-container {
    height: 12vh;
    padding: 2vh 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .6rem;
}

.channels-title {
    font-size: 1rem;
    margin-bottom: 2vh;
}

.channels {
    display: flex;
    gap: 18px;
    font-size: 1.4rem;
    flex-direction: column;
}

.channels-container {
    text-shadow: 1px 1px 10px var(--main-color-dark);
    position: fixed;
    top: 72vh;
    left: 5vw;
    opacity: 0.7;
}

@media (max-width: 700px) {
    .footer-container {
        font-size: .4rem;
    }

    .channels-container {
        top: 75vh;
    }

    .channels-title {
        font-size: 0.8rem;
    }
    
    .channels {
        font-size: 1rem;
    }
}