header {
    background-color: var(--main-color-dark);
    color: var(--main-color-light);
}

.navbar {
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    box-shadow: 1px 1px 8px var(--highlight-color);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.branding {
    font-size: 2.5rem;
    font-family: 'Monofett', monospace;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    transition: text-shadow .5s;
}

.nav-link:hover {
    text-shadow: 1px 1px 10px var(--highlight-color);
}
