#projects {
    width: 100%;
    height: auto;
    background: var(--highlight-color);
    color: var(--main-color-dark);
    padding: 8vh 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.project-section-title {
    font-size: 2.5rem;
    padding: 0 1rem;
    text-align: center;
}

.projects-container {
    width: min(75%, 1500px);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.project-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.info-container {
    padding: 0 3vw;
}

.project-title {
    font-size: 1.6rem;
}

.technologies {
    font-size: 0.8rem;
    font-style: italic;
}

.project-description {
    margin: 2rem 0;
}

.info-container button {
    width: 120px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--accent-color);
    transition: all .4s;
    cursor: pointer;
}

.info-container button:hover {
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 8px var(--main-color-dark);
}

.info-container > a:last-child {
    margin: 0 20px;
}

.project-preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-preview > img {
    width: max(75%, 320px);
    height: auto;
    transition: transform 0.5s;
}

.project-preview > img:hover {
    transform: scale(1.1);
}

.github-btn {
    font-size: 1.2rem;
}

@media (max-width: 1200px) {
    .projects-container {
        width: 90%;
    }
}

@media (max-width: 850px) {
    .project-card {
        display: flex;
        flex-direction: column;
    }

    .project-preview {
        margin-top: 5vh;
    }

    .project-preview > img {
        width: 100%;
        height: auto;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    .info-container > a {
        align-self: center;
    }

    .info-container > a:last-child {
        margin: 0;
    }
}